body {
  background-color: #dbe0e0;
}

.card {
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
}
.sort-header {
  width: 100%;
  box-sizing: border-box;
}
.hover-effect:hover {
  cursor: pointer;
}
